# Ignore IntelliJ IDEA project files
.idea/

# Ignore macOS specific files
.DS_Store

# Backend specific ignores
backend/target/
backend/*.iml
backend/*.log
backend/*.class
backend/mvnw
backend/mvnw.cmd

# Frontend specific ignores
frontend/node_modules/
frontend/build/
frontend/.env

# General ignores
*.log
